/*Changes header backround color and adjusts nav bar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}

/*Postioning of top links and removes dots of links */
#bar {
    display: flex;
    justify-content: space-between;
    min-width: 375px;
    list-style-type: none;
}

/*Changes links */
.links {
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

/*removes underline in links */
#bar a{
    text-decoration: none;
}

/*Header image */
.image {
    width: 1915px;
    height: 200px;
}

/*Adjusts subtitle postion and font */
#subtitle {
    position: absolute;
    top: 195px;
    right: 200px;
    font-size: 30px;
    font-weight: bold;
}

#aboutme {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#aboutmep {
    display: flex;
    justify-content: flex-end;
}

#backround1 {
    display: flex;
    width: 500px;
    height: 500px;
}

.backround2 {
    display: flex;
    width: 250px;
    height: 250px;
}